<% provide(:title, "アイテム回転数をあげる戦い方") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>アイテム回転数をあげる戦い方</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/10</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/5_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        その部屋で勝てていない時は、アイテム回転数をあげるのが有効な場合があります。
        <br>特に周りの敵が自分と同じか自分より強い場合に有効です。
        <br>
        <br>自分が勝てていないとき、サンダー打開を狙いすぎて打開アイテムを保持している時間が長くなっていないでしょうか。
        <br>
        <br>うまく打開して勝てていればいいですが、勝てていない時はノーアイテムで走っている時間が長くなっているので、不利な立ち回りをしてしまっています。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          アイテム使用数について考える
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          1周にアイテムボックスが3箇所ある場合、最大9回アイテムを引くチャンスがあります。
          <br>
          <br>ここでアイテムを9個全部引いて使った自分と、アイテムを5個まで引いて使った自分が戦ったとき、どちらが強いかを考えてみてください。
          <br>
          <br>ほぼ間違いなくアイテム9個のほうが強いでしょう。
          <br>
          <br>アイテム5個側が勝つ方法はサンダー打開を決めて逆転することですが、サンダー打開が決まらない場合やサンダー打開を決めたのに勝てない場合は、アイテム5個しか割らない縛りプレイをしてしまっています。
          <br>
          <br>勝てていない場合は、アイテムを9個割って有利に戦う戦法にシフトしてみましょう。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          アイテム回転数をあげることのメリット
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          アイテム回転数をあげること自体にメリットがあります。
          <br>
          <br>アイテム回転数が上がるということは、部屋全体のアイテム使用数が増えるということなので、トゲを引くチャンスが増えます。
          <br>
          <br>トゲがたくさん飛べば、1位がゴールする時間が遅くなるので、部屋全体のレースの時間が長くなります。
          <br>
          <br>レースの時間が長くなれば、30秒制限のあるサンダーが降る回数が増える可能性があります。
          <br>
          <br>サンダーの回数が増えれば、その分サンダー打開を狙える回数も増えるので、下位から逆転するチャンスが多くなります。
          <br>
          <br>自分1人だけアイテム回転数をあげても部屋全体までは影響しないのではと思うかもしれませんが、自分がアイテムをガンガン使って周りの敵を牽制したり潰したりすれば、
          <br>周りの敵も潰されないようにアイテムを使い始めるので、相乗効果で部屋全体のアイテム回転数が上がります。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
