<% provide(:title, "アイテム攻略") %>
  <div class="row">
    <div id="main" class="col-md-9">
      <div class="topic-header">
        <h1>勝率を上げる！ アイテム仕様まとめ！</h1>
        <p class="update-time">update: 2019/02/26</p>
        <p class="posted-time">posted: 2019/02/25</p>
      </div>
      <div class="info">
        <img src="../assets/thumb1-1.jpg" alt="thumb1-1" width="100%">
      </div>
      <div class="info-text">
        <p>
          このページでは、勝ち負けに直結するアイテムの仕様をまとめました。
          <br>
          <br>マリオカートWiiはアイテムがとても強いゲームなので
          <br>アイテムをうまく使いこなすほど勝率が上がります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> 真っ先に覚えたいアイテム仕様
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">
          下記はゲーム中で特に効果の強いアイテムの仕様です。
        </p>
        <div class="item-table">
          <table border="1">
            <tr>
              <th>アイテム</th><th>最大ストック</th><th>出現順位<span>※</span></th><th>主な仕様</th>
            </tr>
            <tr>
              <td>スター</td><td>3つ</td><td>8〜12位</td><td>効果の持続時間7.5秒くらい</td>
            </tr>
            <tr>
              <td>キラー</td><td>1つ</td><td>9〜12位</td>
              <td>一定人数抜かすと効果が切れる<br>一定人数＝(部屋人数-1)/2 (小数点以下切り捨て)<br>例：12人部屋は(12-1)/2=5.5 切り捨てて5人<br>抜かさない場合の最大持続時間9秒くらい</td>
            </tr>
            <tr>
              <td>巨大キノコ</td><td>2つ</td><td>4〜8位</td><td>効果の持続時間7.5秒くらい</td>
            </tr>
            <tr>
              <td>サンダー</td><td>1つ</td><td>11〜12位</td>
              <td>スタート後最初の30秒間は出ない<br>スタート後30秒経過してから出るようになる<br>誰かがサンダーを使った後の30秒間は出ない</td>
            </tr>
            <tr>
              <td>トゲゾー</td><td>1つ</td><td>4〜9位</td><td>落下する直前でキノコを使えば回避できる</td>
            </tr>
            <tr>
              <td>金キノコ</td><td>2つ</td><td>6〜12位</td><td>効果の持続時間7.5秒くらい</td>
            </tr>
            <tr>
              <td>カミナリぐも</td><td>1つ</td><td>3〜8位</td><td>カミナリが落ちるまで10秒くらい</td>
            </tr>
            <tr>
              <td>ボムへい</td><td>2つ</td><td>3〜7位</td><td>直撃するとアイテムを全ロストする</td>
            </tr>
            <tr>
              <td>偽アイテム</td><td>知らない</td><td>1〜4位</td><td>こうら、バナナを貫通して攻撃できるアイテム</td>
            </tr>
          </table>
          <p class="item-table-comment">※出現順位はオンライン12人対戦時</p>
        </div>
        <p class="mini-topic-text">
          「最大ストック」は画面左上のアイテムスロットに、対戦中のプレイヤーが同時に同じアイテムをストックできる数の最大値です。
          <br>
          <br>たとえば、スターの場合は最大ストックが「3」なので
          <br>アイテムスロットにスターをストックしている人がすでに3人いる状況では
          <br>アイテムボックスをいくら割ってもスターは出ません。
          <br>
          <br>使用中のスターはストック数に含まれないので
          <br>3人のうちの誰かがスターを使用した時点で、
          <br>アイテムボックスからスターが出るようになります。
          <br>
          <br>
          <br>これ以降はアイテムの種類でいくつかに分けて仕様をまとめます。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> 打開アイテム
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> サンダー
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> ダッシュキノコ
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> こうら系アイテム
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> 投擲系アイテム
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> 範囲系アイテム
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          <i class="fas fa-map-marker-alt fa-lg"></i> カミナリぐも
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <p class="mini-topic-text">上位で出現するアイテム。</p>
      </div>
    </div>
    <aside id="sub" class="col-md-3">
      <div class="sub-header">
        <i class="far fa-hand-point-right fa-lg"></i> おすすめ記事
      </div>
      <div class="sub-menu">
        アイテム基礎知識
      </div>
      <div class="member">
        記事作成
      </div>
      <div class="member-name">
        <img src="../assets/deco_off.jpg" alt="Deco" width="120">
        <br>
        Deco
        <a href="https://twitter.com/Deco_bee">
          <i class="fab fa-youtube fa-lg faa-pulse animated-hover"></i>
        </a>
        <a href="https://www.youtube.com/user/Deco1008">
          <i class="fab fa-twitter fa-lg faa-wrench animated-hover"></i>
        </a>
        <p>マリオカートWii 10年</p>
      </div>
    </aside>
  </div>
