<% provide(:title, "設置アイテム回避") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>設置アイテム 全部避ける！</h1>
      <p class="update-time">updated: 2019/03/04</p>
      <p class="posted-time">posted: 2019/03/04</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/1_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        VS必勝テクニック第一弾は、設置アイテムを全部避けましょう です。
        <br>
        <br>どのくらい避けるかというと、完全に道が塞がっていて通れない以外は原則全部避けます。
        <br>カーブの内側に設置してあるアイテムは外側から、
        <br>カーブの外側に設置してあるアイテムは内側から避けていきます。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          なぜ避けなければならないか
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          このゲームのアイテム被弾は単純にタイムロスが大きいからです。
          <br>バナナ1個程度であれば、キノコ1個分くらいのロスで済みますが、
          <br>それ以外のアイテムを被弾した場合は、トリプルキノコでもロスを取り返すのが難しいです。
          <br>自分が大きくロスをして、他の敵が大きくアドバンテージを得るので、
          <br>まず、設置アイテムを避けることが重要です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          カーブの設置アイテムについて
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          カーブに置いてある設置アイテムは、内側と外側の2通りです。
          <br>真ん中に置いてある場合は内側でも外側でも避けられるのであまり考慮しなくてよいです。
          <br>
          <br>まず一番ダメなパターンですが、何も考えずに最短ルートでカーブに突っ込む。
          <br>これは設置アイテムに引っかかって当たり前な動きなので基本的にやってはいけません。
          <br>
          <br>例外的に、自分の真後ろに敵が迫っていてどうしても抜かれたくない場合や、
          <br>ほぼ確実にアイテムの設置がないと読めている場合は、突っ込む場合もあります。
          <br>また、自分が1位を走ってる場合も、前の周のアイテムが誰も引っかからずに
          <br>下位にも掃除されずに最短ルートに残っていることはあまりないので、
          <br>最短ルートでカーブに突っ込むのはありです。
          <br>
          <br>バナナ1個踏むくらいであれば、キノコ1個分程度のロスで済みますが、
          <br>それ以外のアイテムに被弾した場合は、トリプルキノコでもロスを取り返すのが難しいです。
          <br>自分が大きくロスをして、他の敵が大きくアドバンテージを得るので、
          <br>設置アイテムを避けることはVSにおいて最重要な要素です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          カーブの設置アイテムの避け方
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          まず内側に置いてあるアイテムは、アウトから避けます。
          <br>カーブを曲がるときに逆ハンドルを切りながら曲がることで、内側のアイテムを安定してスムーズに避けることができます。
          <br>右カーブの場合は、まず右ドリフトをしながらカーブに差し掛かり、カーブを曲がるときに左にハンドルを切りながら曲がり、
          <br>アイテムを回避できたことを確認できたら右にハンドルを切りなおして曲がり切ります。
          <br>
          <br>下のgif動画のような感じです。普通に曲がったら被弾しそうな甲羅ですが、このテクニックにより回避しています。
        </p>
          <div class="gifs">
            <%= image_tag "gifs/item_dodge1.gif", alt: "アイテム回避", width: "50%"%>
          </div>
        <p class="mini-topic-text">
          <br>外側に置いてあるアイテムは、ややアウトよりからカーブを曲がれば視覚に入りやすいので、
          <br>アウト→インを意識して曲がります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          直線など見えている設置に被弾する場合
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          見えているアイテムは絶対に避けられるはずなので、被弾する場合は自分の走りを見直しましょう。
          <br>金キノコなどで加速していて勢い余ってぶつかる場合は、キノコ連打の速度を緩めたり
          <br>被弾するくらいなら減速してでも避けたほうが遥かにマシなので減速して避けましょう。
          <br>ラグタックルで吹っ飛ばされて被弾する場合も、極力吹っ飛ばされる前に減速して避けましょう。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          被弾優先度について
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          原則被弾はしないようにすべきなのですが、何周目で被弾したかによって被害度が違うので意識しましょう。
          <br>被害度が高いのは、3周目の被弾と、上位での被弾です。
          <br>3周目はゴールまでの動きが固まってくる位置なので、被弾することで直接的に自分の最終順位に響きます。
          <br>上位での被弾は、自分より前の敵を有利にするだけなので、被害度が高いです。
          <br>上位では被弾せずにトゲが飛んでいくのを待つか、自分が引いたキノコで追い上げるのがセオリーです。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
