<% provide(:title, "設置アイテム回避") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>設置アイテム 全部避ける！</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/13</p>
      <p class="posted-time">posted: 2019/03/04</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/1_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        設置アイテムを避けられるかどうかで、勝利安定度に大きな差が出ます。
        <br>
        <br>完全に道が塞がっていて通れない場合以外は、設置アイテムは全部避けられるようになっているので、相手の設置に感心せずに全部避けましょう。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          アイテム被弾した時のロスを考える
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          このゲームのアイテム被弾はタイムロスが大きいです。
          <br>
          <br>バナナ1個程度ならキノコ1個分くらいのロス（SCは考慮せず）ですが、それ以外のアイテムを被弾した場合はトリプルキノコでもロスを取り返すのが難しいです。
          <br>
          <br>一発被弾する度に自分が大きく不利になり周りの敵が得するので、被弾回数は絶対に減らしたいです。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          カーブの設置アイテムの避け方
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          カーブの内側に置いてあるアイテムは、アウトから避けます。
          <br>
          <br>カーブを曲がるときに逆ハンドルを切りながら曲がることで、内側のアイテムを避けながら曲がれます。
        </p>
          <div class="gifs">
            <%= image_tag "gifs/item_dodge1.gif", alt: "アイテム回避", width: "70%", class: "anime" %>
          </div>
        <p class="mini-topic-text">
          <br>右カーブの場合は、まず右ドリフトをしながらカーブに差し掛かり、カーブを曲がるときに左にハンドルを切りながら曲がり、アイテムを回避できたことを確認できたら右にハンドルを切りなおして曲がり切ります。
          <br>
          <br>また、カーブの外側に置いてあるアイテムはややアウトよりからカーブを曲がれば視覚に入りやすいので、警戒する場合はアウト→インを意識して曲がります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          設置を警戒せずにラインを攻める場合
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          すべてのカーブで設置警戒して大回りしているとかなり遅くなってしまうので、状況によってラインを攻める場合もあります。
          <br>
          <br>自分の真後ろに敵が迫っていてどうしても抜かれたくない場合や、ほぼ確実にアイテムの設置がないと読んでいる場合などです。
          <br>
          <br>また、自分が1位を走ってる場合も、前の周のアイテムが誰も引っかからずに下位にも掃除されずに最短ルートに残っていることはあまりないので、ラインを攻めてもよいでしょう。
          <br>
          <br>被弾するリスクを背負ってでもラインを攻めるべきかどうか考えながらプレイします。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          直線など見えている設置に被弾する場合
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          見えているアイテムは絶対に避けられるはずなので、被弾する場合は自分の走りを見直す必要があります。
          <br>
          <br>金キノコなどで加速していて勢い余ってぶつかる場合はキノコ連打の速度を緩めたり、被弾するくらいなら減速してでも避けたほうが遥かにマシなので減速して避けるように自分の走りを修正します。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          被弾の影響度について
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          どこで被弾するかによって被害の大きさが違います。
          <br>
          <br>被害が大きいのは、3周目の被弾と、上位での被弾です。
          <br>
          <br>3周目はゴールまでの動きが固まってくる位置なので、被弾することで直接的に自分の最終順位に響きます。
          <br>
          <br>上位での被弾は自分より前の敵を集団から逃してしまうので被害が大きいです。
          <br>
          <br>被害が大きい場面での被弾は絶対に避けたいので、より設置警戒をして走るべきです。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
