<% provide(:title, "順位調整はどの程度するか") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>順位調整はどの程度するか</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/10</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/6_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        多くの場合、順位調整はサンダー打開アイテムを狙うためにするので、運悪く打開アイテムを引けなかった場合はただ減速して自分が不利な立ち回りをしているだけになります。
        <br>
        <br>順位調整をしすぎてそのまま負けている場合は、順位調整のやり方を変えてみましょう。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          1秒未満の順位調整
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          順位調整をしても勝てない場合は、順位調整を一切しないのがよいですが、それだけだと順位調整をしないことがバレた時に周りの敵が順位調整しやすくなるので、状況をみてほどほどに狙うのがよいと思います。
          <br>
          <br>目安は1秒未満の順位調整です。
          <br>
          <br>例えば7位を走っていて、一瞬だけ減速すれば8位でアイテムを割れそうな場合は、減速してみます。相手が減速しなければ、一瞬の減速で8位でアイテムが割れてうまい順位調整になります。
          <br>
          <br>相手も減速してきた場合は、自分は1秒未満の時間で減速するのをやめてそのまま7位でアイテムを割ります。
          <br>
          <br>こうすることでほとんど減速せずに順位調整ができるので、自分のロスが少なくて済み順位調整をすることが裏目に出ることも減ります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          中位でのアイテム運用について
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          中位の当たりアイテムはキノコなので、キノコを引けたらなるべく大事にします。
          <br>SC等でキノコを使って上位集団に追いつけるかどうかを考えながら走ります。
          <br>
          <br>また、3連甲羅を引けた場合はすぐに打ち切らずになるべく長めに展開しておきます。
          <br>このゲームは1対1ではないので、すぐに1人の敵を潰しに行くよりも周り全体を牽制したほうが強い場合が多いです。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
