<!-- :titleラベルのついたyieldメソッドに、Home文字列をprovideメソッドの効果で代入 -->
<%# provide(:title, "Home") %>
  <div class="row">
    <div id="main" class="col-md-9">
      <div class="main-header">
        <div class="banner">
          <%= image_tag "banner.png", alt: "マリオカートWii 最遅攻略ページ", width: "100%" %>
        </div>
        <div class="column1">
          <div class="content-ex">
            <i class="far fa-grin-beam fa-lg"></i> マリオカートWii最遅攻略ページとは
          </div>
          <p>10年以上前に発売されたゲーム『マリオカートWii』の攻略を今更するサイトです。基本的なゲームシステムはすでに他のサイトで書かれているので、このサイトでは対人戦向けのVSテクニックを中心に情報をまとめていきます。今夏リリース予定のシリーズ最新作『マリオカートツアー』に備えてマリオカートWiiの戦術を煮詰めよう！ ^^</p>
        </div>
      </div>
      <div class="pickup">
        <div id="new-entry">
          サイトメニュー
        </div>
      </div>
      <div class="pickup-box clearfix">
        <div class="top-link-banner">
          <%= link_to image_tag("column_banner.png", alt: "techbanner", width: "100%", class: "top-link-banner2"), column_path %>
        </div>
        <div class="top-link-banner">
          <%= link_to image_tag("itembanner.png", alt: "itembanner", width: "100%", class: "top-link-banner2"), item_info_path %>
        </div>
      </div>
    </div>
    <%= render 'layouts/side' %>
  </div>
