<% provide(:title, "開幕の動き方について") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>開幕の動き方について</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/12</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/9_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        レース開始直後の動きは非常に重要なので、何も考えずになんとなくで出ないようにしましょう。
        <br>
        <br>なんとなく出て、相手の動きに合わせて柔軟に対応するというのはOKです。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          SSを取って前に出るパターン
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          1列目か2列目でスタートするときに狙いやすいパターンです。
          <br>
          <br>SSを取って一気に前に出てそのまま上位で逃げる形を狙います。
          <br>
          <br>この場合はSSを取ることが最優先なので、SSを取れるなら最悪アイテムは取れなくても構いません。
          <br>
          <br>特にスタートの動きを決めていない場合は、とりあえずSS狙いでスタートし、SSが取れなかったりウィリーを崩された場合に別パターンに切り替えるのが無駄が少なくてよいと思います。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          少しだけ減速してボックスを割るパターン
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          停止しない程度に減速してなるべく下位でアイテムボックスを割りそのまま走るパターンです。
        </p>
        <div class="gifs">
          <%= image_tag "gifs/opening1.gif", alt: "gif動画", width: "70%"%>
        </div>
        <p class="mini-topic-text">
          <br>狙いはキノコ系のアイテムで、引けた場合は即使用して一気に前に出ます。
          <br>
          <br>この場合は確実にアイテムボックスを割りたいので、アイテムボックスが1個も余ってなかったらそのまま停止して下位で割るパターンに移行してもよいです。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          最初のボックスを下位で割るパターン
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          最初のアイテムボックスで打開アイテムを引きに行くパターンです。
          <br>
          <br>出現率も考慮してなるべく9位以下で割ります。
          <br>11位、12位で割ればキラーを引ける確率も高いです。
          <br>
          <br>打開アイテムを引いた後は、一発目のサンダーまでなるべく保持して打開を狙います。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          1周目の動きについて
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          1周目は被弾しても打開狙いに切り替える猶予が十分あるので、被弾を恐れずに積極的に攻めてOKです。
          <br>
          <br>SSやウィリー崩しなども多少無理な体勢でも強引に狙っていきます。
          <br>SSを1回取れたかどうかだけで前集団に残れるかどうか分かれることも多々あります。
          <br>
          <br>また、集団での3連甲羅はかなり強いので、引けた場合はすぐには撃ち切らずに展開して周りの敵を牽制します。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
