<% provide(:title, "サンダー打開についての考察") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>サンダー打開についての考察</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/10</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/7_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        このページでは、サンダー打開の成功率をあげるための考察を書きます。
        <br>
        <br>打開は運要素が高く、絶対の戦法はないので参考程度にお読みください。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          前提条件：打開アイテムを引く
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          まず前提として、打開成功率が高い人は打開アイテムを引くのがうまいです。
          <br>
          <br>サンダー読みがうまくても、打開アイテムを引けなかったら打開ができません。
          <br>
          <br>よって、打開成功率をあげるにはまず「サンダー読みがうまくなる」ことよりも、「打開アイテムを引くのがうまくなる」ことを目指します。
          <br>
          <br>アイテムボックスから欲しい打開アイテムが引けるかは運ですが、打開アイテムを引きやすいタイミングを意識してボックスを割って、少しでも引く確率をあげる努力をします。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          打開アイテムを狙いやすいタイミング1
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          打開アイテムを狙いやすいタイミングは、周りの敵が打開アイテムを引いていないときです。
          <br>
          <br>まず、レース開始直後の最初のアイテムボックスです。
          <br>レース開始直後は誰も打開アイテムを引いていないので、引ける確率は他のときよりも高いといえます。
          <br>
          <br>最初のアイテムボックスを8位以下で割るように調整して、打開アイテムを引けたらなるべく一発目のサンダーまで保持します。
          <br>
          <br>8位だとスターの出現率自体が低いのでできれば9位以下、思い切って11位か12位まで落として割ればキラーを引ける確率も高いです。
          <br>
          <br>ただし、自分の他にも複数人が打開アイテム狙いで順位調整をしてきた場合は、お互い牽制しあって順位調整時間が長くなりすぎないように気をつけましょう。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          打開アイテムを狙いやすいタイミング2
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          サンダーが降った直後も打開アイテムを狙いやすいタイミングです。
          <br>
          <br>サンダーを打開した人以外はアイテムスロットが一度空になるので、打開アイテムを引ける確率は他のときよりも高いです。
          <br>
          <br>サンダーが降った直後に打開アイテムを押さえて、次のサンダーまでなるべく保持して打開を狙います。
          <br>
          <br>上記以外のタイミングでも、8位以下を走っているときはガンガンアイテムを入れ替えて打開アイテムを狙っていきます。
          <br>
          <br>まず打開アイテムを引けないとサンダー打開自体が狙えないので、どんどんアイテムを入れ替えましょう。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          打開アイテムを今使うか次まで保持するか
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          サンダーが降るかもしれないタイミングで、打開アイテムを今使うか次のアイテムボックスまで保持するかは永遠の悩みですが、もし今降る可能性と次で降る可能性が同じくらいだと思った場合は今使ってしまった方がよいことが多いです。
          <br>
          <br>なんなら五分五分と言わずに、今降る可能性が少しでもあるなら使ってしまってOKです。
          <br>
          <br>サンダーを今撃たれるか次まで保持されるかは最下位の気分次第で自分にはわかりようがないので、アイテムを落とすくらいなら使ってしまったほうがよいという判断です。
          <br>
          <br>また、最下位を含む最下位付近の敵（サンダー持っている可能性が高い敵）が、ミニマップ上ではなく自分視点で見える位置を走っているときは、よく観察してすでにサンダーを持っているのかどうか予想してみます。
          <br>
          <br>サンダーを持っている敵がサンダーを撃ちたいタイミングを予測して打開アイテムを使えれば、何もヒントがない場合よりも打開成功率は格段に上がります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          ほか、打開のセオリーっぽいもの
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          1. サンダーが降る可能性があるタイミングで引いた巨大キノコはあまり保持せずになるべく早く使う。（特に中盤以降）
          <br>巨大キノコを引くときは中位にいるので、最下位の動向を読みようがないと思います。落とす前にさっさと使ってしまいましょう。
          <br>
          <br>2. 終盤にサンダーが降る可能性があるタイミングで引いた打開アイテムは即使用する。
          <br>保持する意味がほとんどないので即使用します。終盤で引かれたサンダー自体保持する意味があまりないのでほぼ即使用されます。
          <br>
          <br>3. アイテム被弾するくらいなら打開アイテムを使う。
          <br>これは場合によりますが、アイテム被弾しすぎて集団から遅れすぎた場合は打開を決めても自分の順位を上げられなくなるので使ってしまいましょう。
          <br>
          <br>4. アイテム被弾をしても打開アイテムを使わない。
          <br>3の逆パターンです。被弾しても集団から大きく離れない場合は、基本的に打開アイテムを持っているほうが有利なので、サンダー打開タイミングまで保持します。
          <br>
          <br>5. アイテムボックスを割る順位
          <br>スターを狙う場合は8位以下の順位で割りますが、8位ではスターの出現率自体が低いです。また、レース開始直後以外はトゲ、イカ、POWが出る可能性があるので、これらのアイテムが出現しない10位以下で割るという考え方もあります。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
