<% provide(:title, "SSを取る") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>SSを取る</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/10</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/4_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        勝率が高い人ほどスリップストリーム(以降SS)を取ることを常に意識して走っています。
        <br>
        <br>最高速がほとんど同じマシン同士で走るので、直線で前を走っている相手を抜かす手段はアイテムを除けばSSしかありません。
        <br>
        <br>また、SSはアイテムを消耗せずに条件を満たせばいつでも発生する加速手段なので、狙わない手はありません。積極的に狙っていきましょう。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          SSを狙うかどうかの判断
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          常時SSを狙えればいいですが、相手が設置アイテムを持っている可能性がある時は真後ろにつけるのは被弾リスクがあります。
          <br>
          <br>真後ろでなくても少し横にずれた位置でもSSは狙えるので、相手の斜め後ろの位置についてSSを狙うのはよい形です。
          <br>
          <br>特に意味もなくSSを狙わないのは自分に何も得がないのでもったいないです。
          <br>
          <br>仮にSSが取れなくても、あの人は積極的にSS狙ってくるなと相手に思わせて警戒させるだけでも意味があります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          SSが取れる距離、取れない距離
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          SSの攻防において、SSが取れる距離と取れない距離の判断が重要です。
          <br>
          <br>基本的に相手の真後ろにつけばSSを取られるかもと相手に警戒させられて得ですが、相手が設置アイテムを持っている可能性がある場合は真後ろにつくメリットはほぼないので必ずラインをずらしましょう。
          <br>
          <br>相手の真後ろでウィリーしている場合、相手の設置を見てから避けるのはかなり難しいです。自分が被弾リスクを背負うのに対して得することがほぼありません。
          <br>
          <br>また、ラグ環境では相手は自分視点で見えているより少し前の位置を走っているので、自分視点でSS圏外でも相手視点ではSS圏内なことは多いです。ラグを考慮してSS圏内かどうかを見分けるのも重要です。
          <br>
          <br>逆にSS圏外のパターンとしては、相手が自分の至近距離の真後ろにつけている時は、相手視点ではSS圏外(実際には真後ろを走っていない)なので、SS取られるかもと思って道を譲ってあげる必要はありません。
          <br>
          <br>よくあるパターンは自分視点ではSSを取られたエフェクトが出てるけど、相手側ではSSを取れていないという形です。
          <br>
          <br>むしろ自分視点で前を走れている場合はラグで相手を潰せる可能性が自分側にあるので、自分側が有利な状況です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          レース開始直後のSS
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          レース開始直後は集団も団子なので絶対にSSを狙っていきましょう。
          <br>レース開始直後だけは、被弾のこともあまり考えなくてよいです。SSを取ることのほうが優先度が高いです。
          <br>
          <br>レース開始直後は、集団の前に出る手段は加速アイテムかSSくらいしかありません。
          <br>自分がSSを取らなくても周りの敵はSSを取ってくるのでどんどんスピードで置いてかれます。
          <br>
          <br>また、レース開始直後はSSを狙って失敗して被弾したりウィリーを崩されたりしても、まだレース序盤なので、アイテムで追い上げる戦法に切り替えられます。復帰手段はいくらでもあります。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
