<% provide(:title, "負けレースでなるべく中位を取る") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>負けレースでなるべく中位を取る</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/12</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/10_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        アイテムの引きが極端に悪いときなど、どれだけうまく走ってもどうしても勝てないレースがあります。
        <br>
        <br>そういった場合でも自暴自棄にならず、1つでもよい順位でゴールすることだけ考えて走るように切り替えます。
        <br>
        <br>このゲームはたった1点の差で総合順位が入れ替わることが少なくないので、勝つためにはこういった地味な取り組みも重要です。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          頑張って集団に食らいつく
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          極端に運が悪い時は、頑張って集団に食らいつくことを最優先に動きます。
          <br>
          <br>最下位独走さえしなければ、ひとつの展開で一気に追い上げることも可能なので、不運な展開で下位にいるときも諦めずに走りましょう。
          <br>
          <br>最下位独走の形から逆転するのは難しいので、集団から離れないことが重要です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          3周目ラストの一瞬で順位が入れ替わる
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          3周目ラストの加速アイテムは非常に強力なので、集団が固まっていればサンダー打開なしでも一瞬で上位入りするチャンスがあります。
        </p>
        <div class="gifs">
          <%= image_tag "gifs/unlucky1.gif", alt: "gif動画", width: "70%"%>
        </div>
        <p class="mini-topic-text">
          <br>順位をあげるために必要な要素は最後の攻防をノーミスで処理しきることです。
          <br>
          <br>勝率が高い人ほどこの最後の処理でのミスが少なく、点数を稼いでいることが多いです。
          <br>
          <br>慌てて処理をミスれば一気に最下位付近まで落ちてしまうので、しっかりノーミスで操作することを心掛けましょう。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
