<% provide(:title, "ウィリーを崩されないように立ち回る") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>ウィリーを崩されないように立ち回る</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/10</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/3_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        勝率が安定している人ほどウィリーを崩される回数が極端に少ないです。
        <br>
        <br>ウィリーを崩されるタイムロスはアイテム被弾と大差ないため、アイテム被弾に気を付けていてもウィリーを崩されていては意味がありません。
        <br>
        <br>そのため、勝率を上げるためにはウィリーを崩されないことがとても重要です。
        <br>回数の目標を立てるなら、1レースに1回以下です。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          ウィリーを崩されるロスについて
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          キノコを持っているときにウィリー崩しにあった場合は、リカバリーにキノコを使えば大きなロスにはなりませんが、キノコを持っていなかった場合のロスは、大体キノコ2個分くらいかと思います。
          <br>
          <br>レース中にキノコ2個分を取り返すのは容易ではないため、ウィリーを崩されること自体が致命的です。
          <br>
          <br>キノコ2個分の価値は下位にいるときはあまり高くないですが、中位〜上位にいるときはかなり高いので、上位〜中位で受けるウィリー崩しは尚更ダメージが大きいと言えます。
          <br>
          <br>下位を走っている場合でもスター保持中などはリカバリーにキノコを使えないので、どの順位においてもウィリーを崩されないことは重要です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          ウィリーを崩されないようにするには
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          相手と接触する前にしっかりウィリーを解除します。
          <br>
          <br>相手がキノコ1個で接触できる間合いでは常にウィリー解除の準備をしておき、相手が横にいて競り合っている状態では、自分が相手の後ろに下がるかウィリー解除の状態を多めにして走ります。
          <br>
          <br>ラグ環境では、自分視点で相手が横にいる場合、相手視点では相手の方が前を走っていてこちらが一方的に接触リスクを負う状態になるため、この形は極力避けます。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          逆にウィリーを崩していく
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          ウィリー崩しはアイテム被弾と同じくらいのロスになるので、ウィリーをしている相手を見かけたら積極的に崩しにいきましょう。
          <br>
          <br>崩せなくてもウィリーを解除してもらえるので、その分だけアドバンテージを稼げます。
          <br>
          <br>ラグ環境では、相手は自分視点で見えているより少し前の位置を走っているので、相手の少し前の空間を通過するように走れば上手いウィリー崩し狙いになります。
          <br>間違っても自分視点で見えている相手に直接接触しに行かないようにしましょう。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
