@import "bootstrap-sprockets";
@import "bootstrap";

/* 全てのページに適用 */

body {
  padding-top: 70px;
  background: #e9dfe5;
}

@media screen and (max-width: 991px) {
  .sub-header {
    margin-top: 30px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* 洗練されたタイポグラフィー */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','YuGothic','Yu Gothic', sans-serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  /* font-weight: bold; */
  font-family: 'klee', 'Hannotate SC', 'Yu Gothic UI', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

#menu {
  font-size: 1.2em;
  font-family: 'klee', 'Hannotate SC', 'Yu Gothic UI', sans-serif;
  text-align: right;
}

.top-nav {
  transition: .3s;
}

.head-animation {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* メインコンテンツ */

.main-header {
  background: white;
  color: black;
  width: 100%;
  padding: 50px 70px 10px 70px;
}

.banner {
  margin-bottom: 50px;
}

.column1 {
  color: #777;
  position: relative;
  background: #e7e7eb;
  box-shadow: 0 0 0 5px #e7e7eb;
  border: dashed 2px white;
  padding: 25px 25px 20px;
  font-family: 'klee', 'Hannotate SC', 'Yu Gothic UI', sans-serif;
}

.content-ex {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #777;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style-type: none;
  text-align: center; /* 左右中央寄せは親要素に対して指定 */
  padding: 0 50px 0 40px;
  margin-bottom: 0;
}

.menu ul li {
  display: inline-block;
  width: 30%;
  height: 50px;
  margin-left: 1.5%;
  vertical-align: middle;
  line-height: 50px;
  background: #bbc8e6;
  font-size: 1.3em;
  font-weight: bold;
  color: #7b7c7d;
  border-radius: 3px;
  border-bottom: solid 4px #8491c3;
}

.menu ul li:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.pickup {
  width: 100%;
  background: white;
  padding: 40px 70px 10px;
}

#new-entry {
  font-size: 2.0em;
  font-weight: bold;
  color: #474a4d;
  padding-left: 15px;
  border-left: solid 5px #eb6101;
  border-bottom: solid 3px #d7d7d7;
  width: 50%;
}

.menu-box {
  width: 100%;
  background: white;
  padding: 20px 70px;
}

.pickup-box {
  width: 100%;
  background: white;
  padding: 20px 70px;
}

.clearfix {
  display: block;
}

.top-link-banner {
  padding-bottom: 35px;
  :hover {
    opacity: 0.9;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-top: solid 4px white;
    border-bottom: none;/*線を消す*/
    transition-property: opacity;
    transition-duration: 0.3s;
  }
}

.top-link-banner2 {
  border-bottom: solid 4px #adadad;
  border-radius: 0.5em;
}

/* サイドコンテンツ */

.sub-header {
  background: #c1d8ac;
  color: #7b7c7d;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  padding: 14px 25px;
}

.sub-menu {
  background: white;
  color: #474a4d;
  font-size: 1.1em;
  width: 100%;
  padding: 14px 25px;
  :hover {
    opacity: 0.9;
    transition-property: opacity;
    transition-duration: 0.3s;
  }
}

.sub-menu2 {
  border-radius: 0.5em;
  margin-top: 4px;
  margin-bottom: 8px;
}

.sub-topic {
  background: #bbc8e6;
  color: #7b7c7d;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  padding: 14px 25px 10px;
  margin-top: 30px;
}

.sub-body {
  text-align: center;
  background: white;
  color: #474a4d;
  font-size: 1.1em;
  width: 100%;
  padding: 14px 25px 10px;
}

.sub-body p {
  margin-top: 10px;
  font-size: 0.9em;
}

/* footer */

.footer-1 {
  background: #302833;
  padding: 25px 0;
  box-shadow: 0 0 0 5px #302833;
  border-top: dashed 2px white;
  border-bottom: dashed 2px white;
  margin: 5px 0;
  ul {
    background: #302833;
  }
}

.footer-2 {
  background: white;
  text-align: center;
  line-height: 2.0;
  padding: 30px 0;
}

/* FontAwesome */

.fa-youtube {
  color: #dd7a56;
}

.fa-twitter {
  color: #89c3eb;
}

/* コンテンツ */

.topic-header {
  background: white;
  color: black;
  width: 100%;
  padding: 40px 70px 10px;
}

.update-time {
  color: #ffa07a;
  text-align: right;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0;
}

.posted-time {
  color: #dcdddd;
  text-align: right;
  font-weight: bold;
  line-height: 1.1;
}

.info {
  background: white;
  width: 100%;
  padding: 0 70px;
}

.info-text {
  background: white;
  width: 100%;
  padding: 50px 70px 10px;
}

.topic-body {
  background: white;
  padding-bottom: 40px;
}

.item-topic-title {
  font-size: 2.0em;
  font-weight: bold;
  color: #474a4d;
  padding-left: 15px;
  border-left: solid 5px #eb6101;
  border-bottom: solid 3px #d7d7d7;
  width: 80%;
}

.mini-topic-title {
  font-size: 1.3em;
  color: #474a4d;
  padding-left: 30px;
}

.mini-topic-text {
  padding: 0 20px;
}

.item-table {
  padding: 20px 30px;
}

table {
  width: 100%;
}

table th {
  background: #e7e7eb;
  padding: 5px 5px 5px 10px;
}

table td {
  padding: 3px 10px;
}

table span {
  color: #ffa07a;
}

.item-table-comment {
  color: #ffa07a;
  font-size: 0.9em;
  padding: 5px;
}

/* 二列バナー用 */

.topic-link-banner {
  float: left;
  padding-bottom: 30px;
  :hover {
    opacity: 0.9;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-top: solid 4px white;
    border-bottom: none;/*線を消す*/
    transition-property: opacity;
    transition-duration: 0.3s;
  }
}

.topic-link-banner2 {
  border-bottom: solid 4px #adadad;
  margin-left: 1%;
  border-radius: 0.5em;
}

/* アイテムアイコン */

.item-mini-icon {
  padding-bottom: 7px;
}

/* gif動画 */

.gifs {
  text-align: center;
  padding-top: 10px;
}

/* ページトップへジャンプボタン */

#pagetop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}
#pagetop a {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #4d5aaf;
    text-align: center;
    color: #222;
    border-radius: 50%;
    transition: .5s;
    font-size: 25px;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.9;
}
#pagetop a:hover {
    opacity: 0.6;
}

#pagetop i {
  color: white;
  line-height: 70px;
  vertical-align: middle;
}

/*スマホサイト用*/

@media screen and (max-width: 767px) {
  body {
    padding-top: 50px;
  }
  #main {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .main-header {
    padding-left: 0;
    padding-right: 0;
  }
  .pickup {
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-box {
    padding-left: 25px;
    padding-right: 25px;
  }
  #sub {
    padding-left: 0;
    padding-right: 0;
  }
  .topic-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .info {
    padding-left: 0;
    padding-right: 0;
  }
  .info-text {
    padding-left: 0;
    padding-right: 0;
  }
  .pickup-box {
    padding-left: 0;
    padding-right: 0;
  }
  #pagetop a {
    zoom: 1.5;
  }
  .footer-1 ul {
    padding-left: 0;
    padding-right: 0;
  }
  p {
    font-size: 1.4em;
    line-height: 1.9em;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','YuGothic','Yu Gothic', sans-serif;
  }
  #menu {
    width: 25%;
    float: right;
  }
}
