<footer>
  <div class="footer-1">
    <div class="menu">
      <ul>
        <a href="mkw"><li><i class="fas fa-home fa-lg"></i> HOME</li></a>
        <a href="mkw#new-entry"><li><i class="fab fa-font-awesome-flag fa-lg"></i> 新着記事</li></a>
      </ul>
    </div>
  </div>
  <div class="footer-2">
    記事作成：Deco /
    <a href="https://twitter.com/Deco_bee">
      <i class="fab fa-youtube fa-lg faa-pulse animated-hover"></i>
    </a>
    <a href="https://www.youtube.com/user/Deco1008">
      <i class="fab fa-twitter fa-lg faa-wrench animated-hover"></i>
    </a>
    <br>
    マリオカートWii 最遅攻略ページ 2019
  </div>
</footer>
