<header class="navbar navbar-default navbar-fixed-top navbar-inverse top-nav">
  <div class="container">
    <%= link_to "MKW 最遅攻略ページ", mkw_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "アイテム攻略", item_info_path, id: "menu" %></li>
        <li><%= link_to "VS攻略", column_path, id: "menu" %></li>
      </ul>
    </nav>
  </div>
</header>
