<aside id="sub" class="col-md-3">
  <div class="sub-header">
    <i class="far fa-hand-point-right fa-lg"></i> おすすめ記事
  </div>
  <div class="sub-menu">
    アイテム基礎知識
  </div>
  <div class="sub-topic">
    <i class="fab fa-medapps fa-lg"></i> ヒント
  </div>
  <div class="sub-body">
    <%= image_tag "easy.png", alt: "初心者向け", width: 120 %>
    <p>このマークの記事は<br>初心者向けコンテンツです</p>
  </div>
</aside>
